@model Nisan2.Models.Product

<h2>Ürün Detayları</h2>

<p><strong>Adı:</strong> @Model.Name</p>
<p><strong>Açıklama:</strong> @Model.Description</p>
<p><strong>Fiyat:</strong> @Model.Price ₺</p>
<p><strong>Stok:</strong> @Model.Stock</p>

<a href="/Product/Index">Geri Dön</a>
